{% extends "::layout.html.twig" %}
{% block content %}
<h2>Tests</h2>
<ul>
    <li><a href="{{ path('render_test') }}">Render test</a></li>
    <li>@todo: Publish Workflow</li>
    <li><a href="{{ path('current_menu_item_default') }}">Current Menu Item</a></li>
</ul>
<h2>About</h2>
<p>This test application is built into the MenuBundle. You can easily run
it locally as follows</p>
<pre>
$ composer install --dev
$ ./vendor/symfony-cmf/testing/bin/travis/phpcr_odm_doctrine_dbal.sh
$ phpunit Tests/Functional/MenuAdminTest.php # this is just a quick way to load fixtures ...
$ ./vendor/symfony-cmf/testing/bin/server
</pre>
{% endblock %}
