<html>
    <head>
        <title>MenuBundle Test Application</title>
    <style>
        nav.side li {
            border: 1px black dashed;
            background-color: #eee;
            margin: 2px;
            width: 196px;
            list-style: none;
        }

        nav.side li.current {
            background-color: green;
        }

        nav.side li.current a {
            font-weight: bold;
            color: white;
        }
    </style>
    </head>
    <body>
        <section id="header">
            <img src="/images/logo-horizontal.png"/>
            <h1>MenuBundle Test Application</h1>
        </section>
        <nav>
            <ul>
                <li>Goto <a href="/">Home</a></li>
                <li>Goto <a href="/admin/dashboard">Admin</a></li>
            </ul>
        </nav>
        <section id="content">
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>
