{% extends "::layout.html.twig" %}
{% block content %}
{% include "::tests/voter/_sideMenu.html.twig" %}
<p>
This is the articles page. Click <a href="{{ path('/test/routes/articles/some-category/article-1') }}">To view the article</a>.
</p>
{% endblock %}

