{% extends "::layout.html.twig" %}
{% block content %}
{% include "::tests/voter/_sideMenu.html.twig" %}
<p>
This is the blog page. Click <a href="{{ path('/test/routes/blog/my-post') }}">To view the blog post.</a>.
</p>
{% endblock %}

