{% extends "::layout.html.twig" %}
{% block content %}
{% include "::tests/voter/_sideMenu.html.twig" %}
<h1>Current Menu Item Test</h1>
<p>The request URI of this page matches the URI for the route associated with the "default behavior" menu item on the left.</p>
{% endblock %}
