{% extends "::layout.html.twig" %}
{% block content %}
{% include "::tests/voter/_sideMenu.html.twig" %}
<p>
This is the blog post page. The "Request Parent Content Identity Voter" menu item should now be highlighted. Click <a href="{{ path('/test/routes/blog') }}">here</a> to return to the blog page.
</p>
{% endblock %}
