{% extends "::layout.html.twig" %}
{% block content %}
{% include "::tests/voter/_sideMenu.html.twig" %}
<h1>Content Identity Test</h1>
<p>
The content identity voter should now be in use and the "Request Content Identity" menu item should be hilighted.
</p>
{% endblock %}

